:root {
    --background-color: #0c001a;
    --container-color: #d8d4e4;
    --google-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--google-font);
}

body {
    background: var(--background-color);
}

.container {
    position: absolute;
    width: 70vw;
    height: 70vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;

    border-radius: 10px;
    background: var(--container-color);

    animation: containerAnimation 10s linear infinite;
}

@keyframes containerAnimation {
    0%{
        box-shadow: -5px -5px 30px rgba(189, 86, 240, 0.2), 5px 15px 30px rgba(189, 86, 240, 0.2);
    }20%{
        box-shadow: -10px 0px 30px rgba(189, 86, 240, 0.4), 15px -5px 30px rgba(189, 86, 240, 0.2);
    }40%{
        box-shadow: -5px 15px 30px rgba(189, 86, 240, 0.2), 0px -5px 30px rgba(189, 86, 240, 0.3);
    }80%{
        box-shadow: -15px 5px 30px rgba(189, 86, 240, 0.3), 3px -15px 30px rgba(189, 86, 240, 0.1);
    }
    100%{
        box-shadow: -5px -5px 30px rgba(189, 86, 240, 0.2), 5px 15px 30px rgba(189, 86, 240, 0.2);
    }
}

.text-title {
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    margin-bottom: auto;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    height: 10%;
}

.for-loading {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.aloc-loading {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background: transparent;
}

.aloc-loading .first {
    position: absolute;
    left: 50%;
    top: 0;
    height: 50px;
    width: 0%;
    background: var(--background-color);
    transition: 1s;
}

.aloc-loading .second {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 0%;
    background: var(--background-color);
    transition: 1s;
    transition-delay: 0.25s;
}

.aloc-loading .third {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 0%;
    background: var(--background-color);
    transition: 1s;
    transition-delay: 0.57s;
}

.aloc-loading .fourth {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 0%;
    background: var(--background-color);
    transition: 1s;
    transition-delay: .9s;
}

.aloc-loading .fifth {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 0%;
    background: var(--background-color);
    transition: 1s;
    transition-delay: 1.2s;
}

.aloc-loading .hide-loading {
    position: absolute;
    height: calc(100% - 25px);
    width: calc(100% - 25px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    /* background: var(--container-color); */
    background: linear-gradient(50deg, rgba(216,212,228,1) 40%, rgba(243,242,247,1) 50%, rgba(216,212,228,1) 60%);
    background-size: 200%;
    animation: brilhoLoading 10s ease-in-out infinite alternate;
    transition: all ease-in-out .2s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--background-color);
    font-style: italic;
    font-weight: 700;
    font-size: 45px;
}

@keyframes brilhoLoading{
    0%{
        background-position: left;
        background-size: 100%;
    }25%{
        background-position: top;
        background-size: 250%;
    }50%{
        background-position: right;
        background-size: 120%;
    }100%{
        background-position: bottom;
        background-size: 500%;
    }
}

.for-inputs {
    height: 20%;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.aloc-label {
    width: 50%;
    position: relative;
    font-size: 11px;
    font-weight: bolder;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.aloc-input-btns {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
    gap: 10px;
}

.aloc-input-btns input {
    width: 100%;
    padding: 5px 15px;
    background: transparent;
    border: 0px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    font-weight: bolder;
}

.aloc-input-btns input:focus {
    outline: none;
}

.aloc-input-btns input::-webkit-outer-spin-button,
.aloc-input-btns input::-webkit-inner-spin-button  {
    -webkit-appearance: none;
    margin: 0;
}

.aloc-input-btns input[type=number] {
    -moz-appearance: textfield;
}

.btn {
    background: rgba(0,0,0,.8);
    color: white;
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    transition: all ease-in-out .3s;
}

.btn:hover {
    background: rgba(240,240,240,.8);
    border: 2px solid rgba(255,255,255,.3);
    color: black;
}

.just-disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media (min-width: 500px) and (max-width:1000px){
    .aloc-loading {
        height: 170px;
        width: 170px;
    }
}

@media (max-width: 499px){
    .container {
        width: 95vw;
        height: 85vh;
        gap: 0;
    }

    .text-title{
        font-size: 20px;
        height: 10%;
        margin: 0;
    }

    .for-loading {
        margin: 0;
        height: 60%;
    }

    .aloc-label {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .aloc-input-btns{
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 2fr 2fr;
        gap: 10px;
    
    }

    .aloc-input-btns input{
        max-height: 30px;
    }

    .btn {
        max-height: 30px;
        font-size: 8px;
    }

    .aloc-loading {
        height: 180px;
        width: 180px;
    }

    .for-inputs {
        height: 30%;
        margin: 0;
    }
    
}